{% extends 'base.html' %}

{% block content %}

<h1>Employee List</h1>

<a href="{{ url_for('employee.create_employee') }}">
    Add Employee
</a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Actions</th>
    </tr>

    {% for e in employees %}
    <tr>
        <td>{{ e.id }}</td>
        <td>{{ e.lastname }}</td>
        <td>{{ e.firstname }}</td>
        <td>{{ e.middlename }}</td>
        <td>
            <a href="{{ url_for('employee.update_employee', id=e.id) }}">
                Edit
            </a>

            <a href="{{ url_for('employee.delete_employee', id=e.id) }}">
                Delete
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}